
h1, h2, h3 {
  text-align: left;
}

h1{
  text-transform: uppercase;
  line-height: 80px;
}

h2{
  font-weight : bold;
  margin-left: 10px;
}

h3 {
  font-style: italic;
  text-decoration :underline ;
  margin-left: 20px;
}

h4 {
  font-style: italic;
  margin-left: 30px;
}

p {
  padding: 10px;
  line-height: 2;
  font-size: 1.2em;
}

summary {
    background-color: black;
    color: white;
    border-style: double;
    border-color: white;
    text-align: left;
    font-size: 2em;
    line-height: 1;
    width: 90%;
    margin-left: 30px;

}

.test {
    background-color: dodgerBlue;
    width: 80%;
    margin-left: 40px;
    font-size: 1.5em;
    line-height: 1.5;
}
.test2 {
    background-color: steelBlue;
    width: 70%;
    margin-left: 50px;
    font-size: 1.5em;
    line-height: 0.8;
}


table {
  border:3px solid #6495ed;
  border-collapse:collapse;
  width:90%;
  margin:auto;
}

thead {
  background-color:#D0E3FA;
  border:1px solid #6495ed;
}